{% extends "base.html" %}
{% block title %}project Visualization{% endblock %}
{% block body %}
<script type="text/javascript">
	d3.selectAll(".nav-item").classed("active", false);
	d3.select("#nav-link-d3").classed("active", true);
</script>

<html>
	<head>
		<title>World Map</title>
	</head>
	<body>
		<h1>Hello World</h1>
		<svg width="960" height="1800"></svg>
	</body>
</html>

<script>
	const svg = d3.select('svg')
	const projection = d3.geoMercator();
	const pathGenerator = d3.geoPath().projection(projection)

	// Load world map
	d3.json("https://unpkg.com/world-atlas@1.1.4/world/110m.json")
		.then(data => {
			// Select country data
			const countries = topojson.feature(data, data.objects.countries);
			console.log(countries);

			// Project the world map
			svg.selectAll('path')
				.data(countries.features)
				.enter().append('path')	
				.attr('d', pathGenerator)
	})

</script>

{% endblock %}
