body {
    margin: 0px;
    overflow: hidden;
}

.country {
    fill: rgb(50, 248, 182);
    stroke-width: 0.05px;
    transition: 1s;
}

.country:hover {
    fill: rgb(240, 24, 89);
    transition: 0.6s;
}