{% extends "base.html" %}
{% block title %}project Visualization{% endblock %}
{% block body %}
<script type="text/javascript">
	d3.selectAll(".nav-item").classed("active", false);
	d3.select("#nav-link-d3").classed("active", true);
</script>

<html>
	<head>
		<title>Colours of the World</title>
	</head>
	<body>
		<h1>Colours of the World</h1>
		<svg width="1000" height="1000"></svg>
	</body>
</html>

<script>
	const svg = d3.select('svg')
	const g = svg.append('g');

	const projection = d3.geoMercator();
	const pathGenerator = d3.geoPath().projection(projection)


	// Load datasets
	Promise.all([
		// Load world map
		d3.json("https://unpkg.com/world-atlas@1.1.4/world/110m.json"),

		// Load file with country information
		d3.tsv("https://unpkg.com/world-atlas@1.1.4/world/110m.tsv")
	]).then(([topoJSONdata, tsvData]) => {

		// Retrieve country information
		const countryName = {};
		tsvData.forEach(d => {
			countryName[d.iso_n3] = d.name;
		});

		// Project the world map
		const countries = topojson.feature(topoJSONdata, topoJSONdata.objects.countries);
		g.selectAll('path')
			.data(countries.features)
			.enter().append('path')	
				.attr('class', 'country')
				.attr('d', pathGenerator)
			.append('title')
				.text(d => countryName[d.id]);
	});
</script>

{% endblock %}