{% extends "base.html" %}
{% block title %}project Visualization{% endblock %}
{% block body %}
<script type="text/javascript">
	d3.selectAll(".nav-item").classed("active", false);
	d3.select("#nav-link-d3").classed("active", true);
</script>
<link href="../static/css/tooltip.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../static/js/tooltip.js"></script>
<script type="text/javascript" src="../static/js/slider.js"></script>
<script type="text/javascript" src="../static/js/palette.js"></script>
<script type="text/javascript" src="../static/js/world_map.js"></script>
<script type="text/javascript" src="../static/js/gallery.js"></script>
<script type="text/javascript" src="../static/js/artist_picker.js"></script>
<script type="text/javascript" src="../static/js/legend.js"></script>
<script type="text/javascript" src="../static/js/iro.js"></script>
<html>

<head>
	<title>Colours of the World</title>
</head>

<body>
	<div class="container-fluid">
		<h2>Select a country</h2>
		<hr>
		<div>
			<output>0</output>
			<input type="range" name="lower_bound" id=lower_bound min="0" max="2020" value="0" oninput="this.previousElementSibling.value = this.value">
			<input type="range" name="upper_bound" id=upper_bound min="0" max="2020" value="2020" oninput="this.nextElementSibling.value = this.value">
			<output>2020</output>

		</div>
		<div>
			<svg width="1000" height="700"></svg>
		</div>
		<div>
			<svg width="300" height="50" id=legend></svg>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="container">
				<h3>Pick a color</h3>
				<hr>
				<div id="picker"></div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="container">
				<h3>Pick an artist</h3>
				<hr>
				<div id="artist_picker"></div>
			<div></div>
		</div>
	</div>
	<div class="container">
		<h3>Corresponding works</h3>
		<hr>
		<div id="gallery"></div>
	</div>
</body>

</html>

<script>
	val = 10
	function updateTextInput(val) {
		document.getElementById('textInput').value=val; 
	}

	const svg = d3.select('svg')
	const g = svg.append('g');

	const projection = d3.geoMercator();
	const pathGenerator = d3.geoPath().projection(projection)

	var colorScale = d3.scaleThreshold()
		.domain([10, 100, 1000])
		.range(d3.schemeBlues[4]);
	var legend_ele = legend({
		color: colorScale,
		title: "number of artworks"
	});
	var world_map = svg.append("g")
		.attr("id", "world_map");
	// var slider = svg.append("g")
	// .attr("id", "slider");
	var palette = svg.append("g")
		.attr("id", "palette");
	var colorPicker = new iro.ColorPicker('#picker',
		{ color: "#f00" }
	);
	var lower_year = d3.select("#lower_bound").attr("value")
	var upper_year = d3.select("#upper_bound").attr("value")

	var country_id = "";
	var country_name = "";
	var prev_country_color = "";
	var artist_name = "";
	var selected_color = { r: 255, g: 0, b: 0 };
	d3.json("../static/omniart_v3_100k_res.json").then(datasetData => {
		colorPicker.on('color:change', color => update_palette(color, datasetData));
		update_artist_picker(datasetData);
		create_slider(datasetData);
		update_map(datasetData);
		update_gallery(datasetData);
	});
</script>

{% endblock %}