{% extends "base.html" %}
{% block title %}project Visualization{% endblock %}
{% block body %}
<script type="text/javascript">
	d3.selectAll(".nav-item").classed("active", false);
	d3.select("#nav-link-d3").classed("active", true);
</script>
<link href="../static/css/tooltip.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../static/js/tooltip.js"></script>

<html>

<head>
	<title>Colours of the World</title>
</head>

<body>
	<h1>Colours of the World</h1>
	<svg width="1000" height="1000"></svg>
</body>

</html>

<script>
	const svg = d3.select('svg')
	const g = svg.append('g');

	const projection = d3.geoMercator();
	const pathGenerator = d3.geoPath().projection(projection)

	var colorScale = d3.scaleThreshold()
		.domain([1, 5, 10])
		.range(d3.schemeBlues[4]);

	// Load datasets
	Promise.all([
		// Load world map
		d3.json("https://unpkg.com/world-atlas@1.1.4/world/110m.json"),

		// Load file with country information
		d3.tsv("https://unpkg.com/world-atlas@1.1.4/world/110m.tsv"),
		d3.json("../static/omniart_v3_1k_res.json")
	]).then(([topoJSONdata, tsvData, datasetData]) => {

		// Retrieve country information
		const countryName = {};
		const countryCode = {};
		tsvData.forEach(d => {
			countryName[d.iso_n3] = d.name;
			countryCode[d.iso_n3] = d.adm0_a3;
		});
		// Project the world map
		const countries = topojson.feature(topoJSONdata, topoJSONdata.objects.countries);
		g.selectAll('path')
			.data(countries.features)
			.enter().append('path')
			.attr('class', 'country')
			.attr('d', pathGenerator)
			.style("fill", function (d) {
				if (!datasetData[countryCode[d.id]]) {
					return colorScale(0)
				}
				d.total = datasetData[countryCode[d.id]]['id'].length || 0;
				return colorScale(d.total);
			}).on("click", function (d, i) {
				hideTooltip()
				displayTooltip("<b>Top artist</b>" + datasetData[countryCode[d.id]]['artist_full_name'] + "%<br /><b>artwork: </b>" + datasetData[countryCode[d.id]]['artwork_name'][0])
				
				//d3.select(this).attr("fill", "DarkOrange");
			});
			// .append('title')
			// .text(d => countryName[d.id])
	});
</script>

{% endblock %}